  <table class="table table-hover">
    <thead>
      <th style="text-align: center;">Nº</th>
      <th style="text-align: center;">Propósito de la actividad </th>
      <th style="text-align: center;">Descripción de la actividad</th>
      </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Que el alumno aplique formato de fuente a un texto</td>
        <td>Aplique negrita, cursiva solo a los títulos del documento anexo</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Que el alumno aplique formato de párrafo a un texto. </td>
        <td>Aplique alineación justificada, e interlineado doble al documento anexo</td>
      </tr>
    </tbody>
  </table>