  <table class="table table-hover">
    <thead>
      <th style="text-align: center;">Nº</th>
      <th style="text-align: center;">Cantidad</th>
      <th style="text-align: center;">Tipo</th>
      </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>10</td>
        <td>Verdadero/Falso</td>
      </tr>
      <tr>
        <td>2</td>
        <td>5</td>
        <td>POM (Preguntas de opción múltiples)</td>
      </tr>
    </tbody>
  </table>