  <table class="table table-hover">
    <thead>
      <th style="text-align: center;">Nº</th>
      <th style="text-align: center;">Tipo de material</th>
      <th style="text-align: center;">Formato</th>
      <th style="text-align: center;">Contenido</th>
      <th style="text-align: center;">Autoría/Fuente</th>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Video</td>
        <td>avi</td>
        <td>Los paradigmas en la ingeniería</td>
        <td>Videos.cl</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Texto</td>
        <td>txt</td>
        <td>Glosario de términos</td>
        <td>Eloy Gallegos</td>
      </tr>
    </tbody>
  </table>