  <table class="table table-hover">
    <thead>
      </thead>
    <tbody>
      <tr>
        <td><strong>Prueba realizada por: </strong></td>
        <td>Constructor</td>
      </tr>
      <tr>
        <td><strong>Objetivo de la prueba:</strong></td>
        <td>Comprobar correcta funcionalidad del menú</td>
      </tr>
      <tr>
        <td><strong>Descripción de la prueba:</strong></td>
        <td>Se probaran todas las posibilidades de navegación que debe poderse efectuar mediante el menú</td>
      </tr>
      <tr>
        <td><strong>Resultado de la prueba: </strong></td>
        <td>Se ha realizado con éxito la prueba, la navegación del menú no presenta ningún problema</td>
      </tr>
    </tbody>
  </table>