  <table class="table table-hover">
              <thead>
                <th style="colspan:2; text-align: center;">
                  Datos
                </th>
              </thead>
              <tbody>
                <tr>
                  <td><strong>El OA debe</strong> </td>
                  <td>contener actividades para la resolución de logaritmos.</td>
                </tr>
                <tr>
                  <td>Descripción</td>
                  <td>Las actividades que se contemplan incluyen la utilización de propiedades 
generales, identidades logarítmicas, elección de base, cambio de base,propiedades analíticas, función logarítmica y función inversa. 
                  </td>
                </tr>
                <tr>
                  <td><strong>El OA debe</strong> </td>
                  <td>...</td>
                </tr>
                <tr>
                  <td>Descripción</td>
                  <td>...</td>
                </tr>
              </tbody>
            </table>