  <table class="table table-hover">
              <thead>
                <th style="text-align: center;">Nº</th>
                <th style="text-align: center;">Tipo de material</th>
                <th style="text-align: center;">Contenido del material</th>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Video</td>
                  <td>Los paradigmas</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Imagen</td>
                  <td>Aplicación de la informática en la medicina</td>
                </tr>
              </tbody>
            </table>