  <table class="table table-hover">
              <thead>
                <th style="text-align: center;">
                  Categoría de datos<br>
                  <p style="font-size: smaller;"></p>
                </th>
                <th style="text-align: center;">Descripción de lo requerido</th>
              </thead>
              <tbody>
                <tr>
                  <td>Nivel escolar al que va dirigido</td>
                  <td>Ejemplo: Tercero medio</td>                  
                </tr>
                <tr>
                  <td>Asignatura</td>
                  <td>Ejemplo: Matemáticas</td>
                </tr>
                <tr>
                  <td>Materia curricular que contiene</td>
                  <td>Ejemplo: Logaritmos.</td>
                </tr>
                <tr>
                  <td>Objetivo de aprendizaje</td>
                  <td>Ejemplo: Se espera que los alumnos conozcan la función logaritmo y la aplicación de propiedades para resolver ejercicios</td>
                </tr>
                <tr>
                  <td>Granularidad del OA</td>
                  <td>Ejemplo: Unidad.</td>
                </tr>
              </tbody>
            </table>