<div class="div-fluid">
  <div class="page-header">
  	<p style="color: gray;">Ayuda >> <%= link_to "Metodologías", methodologies_path(:option => 1) %> >> <%= link_to "AODDEI", methodologies_path(:option => 2) %></p>
      <div class="row-fluid">
      	<div class="span4">
	      <h4>Fase 4. Evaluación<small></small></h4>
	    </div>
	    <div class="span3">
	      	<p>
	        <%= link_to "Ir a la fase 5: Implantación »", aoddei_path(:option => 5), :class=>"btn" %>
	      </p>
	    </div>
	  </div>      
  </div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span5">
						<h5 style="text-align: center;">PASO 8: EVALUAR OA</h5>
						<p style="text-align: justify;">En este paso el OA, será evaluado por un grupo de expertos tomando como referencia una serie de indicadores.
							Por ejemplo, se consideran:
							<ul>
								<li>Categoría didáctico-curricular</li>
								<li>Categoría técnica-estética</li>
								<li>Categoría funcional</li>
							</ul>
							De acuerdo al tipo de OA’s, y contexto donde se aplicaran es recomendable proponer una serie de indicadores para su evaluación. Para el caso de esta metodología los OA’s serán evaluados bajo los siguientes aspectos:
							<ul>
								<li>Contenido</li>
								<li>Diseño</li>
								<li>Metadato</li>
							</ul>
						</p>
					</div>
					<div class="span5">
						<h5 style="text-align: center;">PASO 9: ALMACENAR EL OA EN UN REPOSITORIO DE OA'S EVALUADOS</h5>
						<p style="text-align: justify;">Después de la evaluación del OA por el grupo de experto, estos serán almacenados en un repositorio de OA’s evaluados, aquí serán almacenados sólo los OA’s que cumplan con una calificación determinada por el grupo de expertos.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>