<div class="div-fluid">
  <div class="page-header">
  	<p style="color: gray;">Ayuda >> <%= link_to "Metodologías", methodologies_path(:option => 1) %> >> <%= link_to "AODDEI", methodologies_path(:option => 2) %></p>
      <h4>Fase 5. Implantación<small></small></h4>
  </div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span6">
						<h5 style="text-align: center;">PASO 10: INTEGRAR EL OA EN UN ROA</h5>
						<p style="text-align: justify;">
						En este paso, el OA puede ser integrado al repositorio de objetos de aprendizaje del DIINF! esto es con la finalidad de interactuar con el mismo en un determinado contexto, para hacer uso y re-uso de éste. Esta fase será la pauta para que el OA sea evaluado por los usuarios del mismo, los cuales pueden proveer una retroalimentación valiosa. En base a esta retroalimentación el docente, podrá detectar si le faltó agregar elementos interactivos, o de otro tipo que fomenten el aprendizaje del alumno.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>