<div class="div-fluid">
  <div class="page-header">
  	<p style="color: gray;">Ayuda >> <%= link_to "Metodologías", methodologies_path(:option => 1) %> >> <%= link_to "AODDEI", methodologies_path(:option => 2) %></p>
      <h4>Fase 1. Análisis y obtención<small></small></h4>
  </div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span4">
						<h5 style="text-align: center;">PASO 1: ANÁLISIS</h5>
						<p style="text-align: justify;">Es importante dejar claro que es lo que se quiere enseñar y a quienes, identifique los datos generales del OA. Esto le será más fácil llenando la siguiente plantilla.
						</p>
						<table class="table">
							<thead>
								<tr><th colspan="2" style="text-align: center;">Datos</th></tr>
							</thead>
							<tbody style="font-size: smaller;">
								<tr>
									<td><b>Nombre del OA</b></td>
									<td>El nombre del objeto de aprendizaje deberá representar de forma clara y simple el contenido tratado, evitando la ambigüedad en la idea.Por ejemplo Derecho Civil, Inteligencia Artificial, Formato de Fuente, etc. 
									</td>
								</tr>
								<tr>
									<td><b>Descripción del OA</b></td>
									<td>Descripción textual del contenido del OA.</td>
								</tr>
								<tr>
									<td><b>Nivel escolar al que va dirigido el OA</b> </td>
									<td>Contexto principal en el que será usado el OA. Por ejemplo: Primaria, Secundaria, Bachillerato,Licenciatura, o Posgrado</td>
								</tr>
								<tr>
									<td><b>Perfil del alumno al cual va dirigido el OA (necesidad de aprendizaje)</b></td>
									<td>Este perfil esta íntimamente ligado con el perfil requerido en el curso, en el cual será utilizado el OA. </td>
								</tr>
								<tr>
									<td><b>Objetivo de aprendizaje</b></td>
									<td>Conocimiento o habilidad que se persigue alcanzar por parte del alumno al final de la interacción con el OA. </td>
									
								</tr>
								<tr>
									<td><b>Granularidad</b></td>
									<td>Responde al tamaño de los OAs. Mientras más pequeños sean aumenta su capacidad de reutilización en otros contextos. Se propone: 1) Subtema, 2) Tema y 3)Unidad </td>
									
								</tr>
							</tbody>
						</table>
					</div>
					<div class="span4">
						<h5 style="text-align: center;">PASO 2: OBTENER MATERIAL</h5>
						<p style="text-align: justify;">Este paso consiste en proveer el material didáctico necesario, para la construcción del OA, el cual puede ser de diversa índole, como por ejemplo: Impresos (textos): libros, enciclopedias, fotocopias, periódicos, documentos, etc. También se puede retomar un OA ya existente. Se sugiere llenar la siguiente plantilla.
						</p>
						<table class="table">
							<thead>
								<tr><th style="text-align: center;">Tipo de material</th>
									<th style="text-align: center;">Fuente</th>
								</tr>
							</thead>
							<tbody style="font-size: smaller;">
								<tr>
									<td>Impreso (texto): Libro</td>
									<td style="font-style: italic;"> << Nombre libro >></td>
								</tr>
								<tr>
									<td>Imágenes (digital): Libro</td>
									<td style="font-style: italic;"><< Nombre libro >></td>
								</tr>
								<tr>
									<td>Texto electrónico</td>
									<td style="font-style: italic;"><< Nombre texto >></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="span4">
						<h5 style="text-align: center;">PASO 3:DIGITALIZAR MATERIAL</h5>
						<p style="text-align: justify;"> Este paso solo procede en caso de que el material didáctico, no este previamente digitalizado.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>