<div class="div-fluid">
  <div class="page-header">
  	<p style="color: gray;">Ayuda >> <%= link_to "Metodologías", methodologies_path(:option => 1), :style=>"
    color: gray;" %> >> AODDEI</p>
      <h2>AODDEI<small></small></h2>
  </div>
  <%= image_tag("AODDEI.jpg", size: "973x643", :alt => "Metodología AODDEI", :usemap => "#AODDEImap") %>
  <map name="AODDEImap">
  	<area shape="rect" coords="24,5,300,30" alt="test" href="aoddei?option=1" > 
  	<area shape="rect" coords="20,211,91,279" alt="Sun" href="sun.htm">
  </map>
</div>