<div class="div-fluid">
  <div class="page-header">
  	<p style="color: gray;">Ayuda >> <%= link_to "Metodologías", methodologies_path(:option => 1), :style=>"
    color: gray;" %> >> AODDEI</p>
      <h2>AODDEI<small></small></h2>
  </div>
  <%= image_tag("AODDEI.jpg", size: "973x643", :alt => "Metodología AODDEI", :usemap => "#AODDEImap") %>
  <map name="AODDEImap">
  	<area shape="rect" coords="10,5,300,290" alt="test" href="aoddei?option=1" >
    <area shape="rect" coords="336,4,612,290" alt="test" href="aoddei?option=2" >
    <area shape="rect" coords="640,4,900,290" alt="test" href="aoddei?option=3" >
    <area shape="rect" coords="10,320,300,625" alt="test" href="aoddei?option=4" >
    <area shape="rect" coords="336,320,612,625" alt="test" href="aoddei?option=5" >
  </map>
</div>