<div class="div-fluid">
  <div class="page-header">
  	<p style="color: gray;">Ayuda >> <%= link_to "Metodologías", methodologies_path(:option => 1) %> >> <%= link_to "AODDEI", methodologies_path(:option => 2) %></p>
      <div class="row-fluid">
      	<div class="span4">
	      <h4>Fase 2. Diseño<small></small></h4>
	    </div>
	    <div class="span3">
	      	<p>
	        <%= link_to "Ir a la fase 3: Desarrollo »", aoddei_path(:option => 3), :class=>"btn" %>
	      </p>
	    </div>
	  </div>    
  </div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span8">
						<h5 style="text-align: center;">PASO 4: DISEÑAR EL OA</h5>
						<p style="text-align: justify;">Es importante dejar claro, cómo se va a enseñar, para esto hay que realizar un esquema general del OA, el cual indicará cómo están interrelacionados el objetivo, contenidos informativos, actividades de aprendizaje y la evaluación. Es importante considerar en esta etapa el metadato, el cual influirá en la reusabilidad del OA. En esta fase interviene el autor. 
							La estructura que se indica a continuación es la mínima necesaria, elementos como simulación o interactividad se pueden considerar como  contenido informativo o dentro de la parte de actividades, mas no como un OA.
						</p>
						<table class="table">
							<thead>
								<tr><th colspan="2" style="text-align: center;">Datos</th></tr>
							</thead>
							<tbody style="font-size: smaller;">
								<tr>
									<td><b>Objetivo</b></td>
									<td>Recuerde retomar el objetivo de aprendizaje planteado en la fase de análisis. Si aún no lo tiene, es momento de hacero.
									</td>
								</tr>
								<tr>
									<td><b>Contenido informativo</b></td>
									<td>Es recomendable hacer uso de múltiples recursos digitales como por ejemplo textos, imágenes, vídeos, animaciones etc. (digitalizados en la fase 1). Estos deben ser organizados de una forma adecuada de tal forma que se capte la atención del alumno y se facilite el aprendizaje por parte del mismo. En este punto se sugiere que el docente realizar un bosquejo del acomodo del contenido informativo.</td>
								</tr>
								<tr>
									<td><b>Actividades</b> </td>
									<td>Entendidas como un conjunto de pasos y etapas que el estudiante aplicará con el objetivo de promover y facilitar su proceso de aprendizaje. Algunos ejemplos de actividades son: Lecturas, resúmenes, realización de ejercicios, simulaciones etc. Valore que las actividades propuestas estén relacionadas con su objetivo de aprendizaje.
										Los tópicos a considerar son: propósito de la actividad, descripción de la actividad, tipo de archivo.</td>
								</tr>
								<tr>
									<td><b>Evaluación del aprendizaje</b></td>
									<td>Uno de los objetivos del los OA’s, es asegurar alcanzar el objetivo de aprendizaje planteado, por lo anterior es importante implementar actividades que evalúen los conocimientos. Esto se puede implementar mediante tests en línea, necesariamente cada uno de estos tests deberá mostrar al alumno la respuesta correcta, una vez contestada la pregunta, de igual forma al  finalizar el test, este debe presentar el listado de preguntas buenas y malas, así como el puntaje final alcanzado por el alumno.</td>
								</tr>
								<tr>
									<td><b>Metadato</b></td>
									<td>Se identificarán las siguientes categorías: 
										<ul>
											<li>General</li>
											<li>Ciclo de vida</li>
											<li>Educacional </li>
											<li>Derechos de autor</li>
										</ul>
										Estas categorías ayudan a conceptualizar el OA, identificando datos generales, versiones, colaboradores, aspectos educacionales, derechos de autor, además de relación entre OAs
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>