<div class="div-fluid">
  <div class="page-header">
      <h2>Metodologías<small></small></h2>
  </div>
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <h2 style="text-align: center;">
        AODDEI
      </h2>
      <p style="text-align: justify;">
        La metodología AODDIE, se basa en el modelo de diseño instruccional ADDIE y consta de cinco fases, que conforman las iniciales de su nombre: Análisis y obtención, diseño, desarrollo, implantación y evaluación.
      </p>
      <p>
        <%= link_to "Ver más »", methodologies_path(:option => 2), :class=>"btn" %>
      </p>
    </div>
    <div class="span4">
      <h2 style="text-align: center;">
        MIDOA
      </h2>
      <p style="text-align: justify;">
        El fin de la metodología MIDOA (Modelo Instruccional para el Diseño de Objetos de Aprendizaje) es ser un vínculo entre la pedagogía y el desarrollo tecnológico de objetos de aprendizaje. Para esto, MIDOA propone un modelo de desarrollo de OA’s basado en la metodología liviana de desarrollo de software “Programación Extrema (XP)”.
      </p>
      <p>
        <%= link_to "Ver más »", methodologies_path(:option => 3), :class=>"btn" %>
      </p>
    </div>
    <div class="span4">
      <h2 style="text-align: center;">
        ISD-MeLo
      </h2>
      <p style="text-align: justify;">
        Esta metodología se encuentra enfocada en el diseño y desarrollo de contenido educativo entregado a través de la Web y se encuentra basada en la metodología ADDIE. Sus siglas significan “Instructional Systems Development Methodology based on e-Learning Objects” (Metodología de desarrollo de sistemas instruccionales basados en objetos de aprendizaje) y se encuentra compuestas por las siguientes fases: Análisis, diseño, desarrollo, implementación y evaluación.
      </p>
      <p>
        <%= link_to "Ver más »", methodologies_path(:option => 4), :class=>"btn" %>
      </p>
    </div>
  </div>
</div>
</div>