
<table class="table table-nonfluid table-bordered table-hover">
  <thead>
    <th>Número</th>
    <th>Nombre</th>
    <th>Horas totales</th>
    <th>Horas cátedra</th>
    <th>Horas lab.</th>
    <th colspan="3">Acciones</th>
  </thead>
  <tbody>
  	<%= nested_contents contents.arrange(:order => :created_at) %>
  </tbody> 
</table>