
<table class="table table-nonfluid table-bordered table-hover">
  <thead>
    <th>Number</th>
    <th>Name</th>
    <th>Hours</th>
    <th>In hours</th>
    <th>Out hours</th>
    <th colspan="3">Actions</th>
  </thead>
  <tbody>
  	<%= nested_contents contents.arrange(:order => :created_at) %>
  </tbody> 
</table>