<div class="div-fluid">
	<div class="page-header">
      <h3>Agregar nuevo contenido<small></small></h3>
    </div>
    <div class="navbar">
    	<div class="navbar-inner">
    		<ul class="nav">
    			<li><%= link_to course_path(@course) do %>
    				<i class="icon-chevron-left"></i>
    				Volver a la lista de contenidos
    				<% end %>
    			</li>
    		</ul>
    	</div>
    </div>

	<%= render 'form' %>

</div>