<% if av_rating == 1 %>
	<span style="padding-left: 10px;">Muy pobre</span>
<% elsif av_rating == 2 %>
	<span style="padding-left: 10px;">Pobre</span>
<% elsif av_rating == 3 %>
	<span style="padding-left: 10px;">OK</span>
<% elsif av_rating == 4 %>
	<span style="padding-left: 10px;">Bueno</span>
<% elsif av_rating == 5 %>
	<span style="padding-left: 10px;">Muy bueno!</span>
<% else av_rating == 0 %>
	<span style="padding-left: 10px;"> </span>
<% end %>