<div class="div-fluid">
	<div class="page-header">
		<p style="color: gray;text-align: right;">Te encuentras en: <%= link_to @learning_object.name, @learning_object %> &raquo; Evalúa este material! </p>
      <h2>Evaluación de <%= @learning_object.name %><small></small></h2>
    </div>

<%= render 'form' %>

</div>