<td>
  <%= link_to new_course_subtopic_path(@course, :parent_id => content), :class => "btn btn-mini", :title => "Agregar un subtema" do %>
    <i class="icon-plus"></i>
  <% end %>
</td>
<td>
  <%= link_to edit_topic_path(content), :class => "btn btn-mini", :title => "Editar contenido" do %>
    <i class="icon-edit"></i>
  <% end %>
</td>
<td>
  <%= link_to content, :class => "btn btn-mini", :title => "Delete topic", method: :delete, data: { confirm: '¿Está seguro de eliminar el tema? Tome en cuenta que al realizar esta acción algunos OAs quedarán sin tema asociado.' } do %>
  	<i class="icon-trash"></i>
  <% end %>
</td>
