<div class="div-fluid">
	<div class="page-header">
      <h2><%= @course.name %><small> Editing course</small></h2>
    </div>
    <div class="navbar">
    	<div class="navbar-inner">
    		<ul class="nav">
    			<li>
    				<%= link_to courses_path do %>
    				<i class="icon-chevron-left"></i>
    				Back
    				<% end %>
    			</li>
    		</ul>
    	</div>
    </div>

	<%= render 'form' %>

</div>