<div class="div-fluid">
	<div class="page-header">
      <h2>Nuevo curso<small></small></h2>
    </div>
    <div class="navbar">
    	<div class="navbar-inner">
    		<ul class="nav">
    			<li><%= link_to courses_path(:option=>2) do %>
    				<i class="icon-chevron-left"></i>
    				Volver al listado de cursos
    				<% end %>
    			</li>
    		</ul>
    	</div>
    </div>
  
	<%= render 'form' %>

</div>