<div class="div-fluid">
  <div class="page-header">
      <h2>Contenidos del curso <%= @course.name %> <small></small></h2>
  </div>
  <div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li>
              <%= link_to courses_path do %>
                <i class="icon-chevron-left"></i>
                Volver al listado de cursos
              <% end %>
            </li>
            <li>
              <%= link_to new_course_topic_path(@course) do %>
                <i class="icon-plus-sign"></i>
                Nuevo contenido
              <% end %>
            </li>
        </ul>
    </div>
  </div>

  <%= render :partial => "contents/index", :locals => { :contents => @course.contents } %>
  
</div>