<div class="div-fluid">
  <div class="page-header">
  	<p style="color: gray;">Ayuda >> <%= link_to "Metodologías", methodologies_path(:option => 1), :style=>"
    color: gray;" %> >> AODDEI</p>
      <h2>AODDEI<small></small></h2>
  </div>
  <table class="table">
              <thead>
                <th style="text-align: center;">Definición</th>
                <th style="text-align: center;">Actividades</th>
              </thead>
              <tbody>
                <tr>
                  <td><b>Definición</b></td>
                  <td>
                    <ul>
                      <li>Selección</li>
                      <li>Requerimientos</li>
                    </ul>
                  </td>
                  <td>Documento de definición (planilla de definición y planilla de requisitos)
                  </td>
                </tr>
                <tr>
                  <td><b>Selección de material</b></td>
                  <td>
                    <ul>
                      <li>Planeación</li>
                      <li>Obtención</li>
                      <li>Digitalización</li>
                    </ul>
                  </td>
                  <td>Glosario y plantillas (planeación material, objetos recopilados, actividades y evaluaciones)</td>
                </tr>
                <tr>
                  <td><b>Diseño</b> </td>
                  <td>
                    <ul>
                      <li>Estructurar</li>
                      <li>Diagramación</li>
                    </ul>
                  </td>
                  <td>Diagramas</td>
                </tr>
                <tr>
                  <td><b>Construcción</b></td>
                  <td>
                    <ul>
                      <li>Armado</li>
                      <li>Pruebas</li>
                      <li>Empaquetado</li>
                    </ul>
                  </td>
                  <td>Planillas de prueba, Objetos de aprendizaje</td>
                </tr>
                <tr>
                  <td><b>Evaluación</b></td>
                  <td>Validación</td>
                  <td>Certificación de experto, cuestionario de evaluación, registro</td>
                </tr>
                <tr>
                  <td><b>Seguimiento</b></td>
                  <td>
                    <ul>
                      <li>Implantación</li>
                      <li>Mediciones</li>
                    </ul>
                  </td>
                  <td>Registro</td>
                </tr>
              </tbody>
            </table>
</div>