// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-text-area{
	margin: 10px 10px 10px;
	width: 700px;
	height: 71px;
}

.submit-comment{
	padding-top: 65px;
	margin-left: 10px;
}

.reply-link{
	margin-top: 10px;
}