// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.align-right{
	text-align: right;
}

.align-center{
	text-align: center;
}

.rating-text-area{
	margin: 10px 10px 10px;
	width: 250px;
	height: 100px;
}
.row-fluid .comment{
	height: 150px;
}