<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metadata_schema.name %>
</p>


<%= link_to 'Edit', edit_metadata_schema_path(@metadata_schema) %> |
<%= link_to 'Back', metadata_schemas_path %>
