<div class="row-fluid metadata-body">
	<div class="span12">
		<div class="row-fluid">
			<div class="span3">Cost: </div>
			<div class="span9"><%= select_tag(:rights_cost, options_for_select(["yes", "no"]),{:include_blank=>true}) %></div>
		</div>
		<div class="row-fluid">
			<div class="span3">Copy Right And Other Restrictions: </div>
			<div class="span9"><%= select_tag(:rights_copy_rights_and_other_restrictions, options_for_select(["yes", "no"]),{:include_blank=>true}) %></div>
		</div>
		<div class="row-fluid">
			<div class="span3">Description: </div>
			<div class="span9"><%= text_field_tag(:rights_description,nil, {:id=>"input-rightsdescription"}) %></div>
		</div>
	</div>
</div>
