<!DOCTYPE html>
<html>
<head>
  <title>ROA</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <!-- Formulario de validación -->
  	<%= yield %>
  </div>
</body>
</html>